    /* Para quitar las flechas en Chrome, Safari y Edge SOLO para los campos con la clase "sin-flechas" */
    .sin-flechas::-webkit-outer-spin-button,
    .sin-flechas::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Para quitar las flechas en Firefox SOLO para los campos con la clase "sin-flechas" */
    .sin-flechas {
      -moz-appearance: textfield;
    }

    .encabezado {
      background-color: #dbdbdb;
      padding: 30px !important;
/*      background-image: url(../images/mega_banner.png); */
      background-size: cover;
      margin-bottom: 20px;
      box-shadow: 0px 3px 8px 0px #c0c0c0;
      border-bottom: 2px solid #fff;
    }

    .encabezado .mega-logo img {
      width: 85%;
    }

    .titulo-formulario h3 {
      font-weight: 100;
      margin-top: 0;
      margin-left: 1em;
      color: #01579b;
    }

    .enviar-form {
      align-items: center;
      flex-direction: row;
      gap: .5em;
  }

    /* Cambiar el color primario */
    .primary {
      background-color: #01579b !important;
      border-radius: 8px;
      /* Nuevo color */
    }

    /* Cambiar el color secundario */
    /*.secondary {
       /* background-color: #33c1ff !important; /* Nuevo color */
    /*}

      /* Cambiar colores de texto */
    .text-primary {
      color: #01579b !important;
    }

    .mb-1 {
      margin-bottom: 0.25rem;
    }

    .mb-2 {
      margin-bottom: 0.5rem;
    }

    .mt-1 {
      margin-top: 0.25rem;
    }

    .mt-2 {
      margin-top: 0.5rem;
    }

    @media (max-width: 768px) {

      /* Para pantallas menores a 768px */
      .titulo-formulario h3 {
        font-size: 28px;
      }
    }

    @media (max-width: 480px) {

      /* Para pantallas muy pequeñas, como móviles */
      .titulo-formulario h3 {
        font-size: 24px;
        margin-top: 8px;
        margin-left: 0;
      }
    }

    .d-flex {
      display: flex;
    }

    .text-center{
      text-align: center;
    }

    .uppercase{
      text-transform: uppercase;
    }

    .encabezado-cuenta h4, .encabezado-cuenta p {
      margin: 0;
    }

    footer {
      background-color: #004084;
      border-top: 2px solid red;
      width: 100%;
      display: block;
      position: fixed;
      bottom: 0;
      z-index: 2;
    }
    
    .modal-header{
      background-color: #01579b;
      color: white;
      padding: 8px 32px;
    }

    .modal-megafooter{
      margin: 16px 0 32px;
      display: flex;
      justify-content: space-evenly;
    }

    .modal-body{
      margin: 32px;
    }

    .modal-body .modal-mensaje-general{
      text-align: center;
    }

    .modal-body .modal-mensaje-especifico{
display: flex;
align-items: center;
    }

    .modal-body .modal-mensaje-especifico i{
      margin-right: 16px;
      color: #ff9100;
    }

/* ----------------FORMULARIO DEVOLUCIÓN DE VIÁTICOS----------------   */

.primary {
  background-color: #01579b !important;
  border-radius: 8px;
}


.file-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.file-drop-area.highlight {
  border-color: #26a69a;
  background-color: #f0f8f7;
}
.file-list {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}
.file-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(53 53 53);
  background-color: #00800036;
}
.file-list button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 14px;
  transition: 0.2s;
}
.file-list button:hover {
  background: darkred;
}

.icon-upload{
  align-items: center;
  justify-content: center;
}

.icon-upload i{
  color: #01579b;
}

.striped td, .striped th{
  padding: 15px 5px !important;
}

.file-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.leyenda {
  font-size: .8rem;
  color: #9e9e9e;
}

.leyenda2 {
  font-size: .8rem;
  color: #363636;
  line-height: 1.2;
  margin: 0;
}

.mega-alert {
  background-color: #ff91002b;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.mega-alert .alert-icon {
  margin-right: 8px;
  color: #ff9100;
}

.close-icon{
  margin-left: 8px;
  cursor: pointer;
  padding: 4px;
}

.close-icon:hover{
  color: #9c9c9c;
}



/* firma */
.signature-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.signature-pad {
  width: 100%;
  height: 110px;
  background-color: white;
  touch-action: none;
  border: 1px solid #9e9e9e;
  border-radius: 8px;
  margin-bottom: 16px;
  /* Previene el desplazamiento en móviles */
}

.signature-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

tfoot{
  border: 1px solid darkgray;
  border-right: 0;
  border-left: 0;

}

.modal-header{
  background-color: #01579b;
  color: white;
  padding: 8px 32px;
}

.modal-megafooter{
  margin: 16px 0 32px;
  display: flex;
  justify-content: space-evenly;
}

.modal-body{
  margin: 32px;
}

.modal-body .modal-mensaje-general{
  text-align: center;
}

.modal-body .modal-mensaje-especifico{
display: flex;
align-items: center;
}

.modal-body .modal-mensaje-especifico i{
  margin-right: 16px;
  color: #ff9100;
}


/* Editando clases de Materialize  */

input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #01579b ;
  -webkit-box-shadow: 0 1px 0 0 #01579b ;
  box-shadow: 0 1px 0 0 #01579b ;
}

input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
  color: #01579b;
}

.dropdown-content li>a,.dropdown-content li>span {
  color: #01579b;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #01579b
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #88bfe9;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #01579b;
  background-color: #01579b;
  z-index: 0
}

.btn-small{
  background-color: #01579b;
}



